.error-content{
     background-color: rgb(117, 137, 173);
    display: flex;
    flex-direction: column;
    /* padding: 2rem; */
    margin:auto;
    width: 50rem;
    height: 15rem;
    max-width: 95%;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0,0,0,0.25);
    align-content: center;
/* 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75); */

}
.error-box{
position: fixed;
top: 30vh;
left: 10%;
width: 80%;
z-index:100 ;
overflow: hidden;
}
.header{
   border-top-right-radius: 12px;
   border-top-left-radius: 12px;
    background: #4f005f;

}
.heading{
    margin: 1rem;
    padding: 0.1rem;
}
.message{
    font: inherit;
    font-weight: bold;
    margin: 1rem;
    text-align: center;
}
.footer {
    margin: auto;
    display: flex;
   justify-self: flex-end;
}