.new-person__controls{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}
.new-person__control{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.new-person__control label{
   font-weight: bold;
   margin-bottom: 0.5rem;
}
.new-person__control input{
    width: 50vw;
    height: 3rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 0.5rem;
    font: inherit;
    max-width: 100%;
}